
#game-content-left
  = render 'menu'
#game-content-right
  %table.table.table-hover
    %thead
      %tr
        %th Jogador
        %th Título
        %th Data
    %tbody
      - @messages.each do |m|
        %tr{onclick: "Turbolinks.visit('/message/detail/#{m.id}')", style: ('color: orange' unless m.read.trust)}
          %td= m.from_user.login
          %td= m.title
          %td= m.created_at
