#game-content-left

  %h4 Entrar
  = form_for :user, url: 'login', html: { class: 'form-user' } do |u|
    = u.label :login
    %br
    = u.text_field :login
    %br
    = u.label :password, 'Senha'
    %br
    = u.password_field :password
    %br
    = u.submit 'Submit!'

  %h4 Registrar
  = form_for :user, url: 'register', html: { class: 'form-user' } do |u|
    = u.label :login
    %br
    = u.text_field :login
    %br
    = u.label :password
    %br
    = u.password_field :password
    %br
    = u.label :password_confirmation
    %br
    = u.password_field :password_confirmation
    %br
    = u.label :color
    %br
    = u.color_field :color
    %br
    = u.submit 'Submit!'

#game-content-right
  %h2= 'Bem-vindo'
  %h3 Últimas Atualizações
  %h4 0.1 Alpha - 05/08/2016
  %ul
    %li Mapa Arrastavel
    %li Mercado
    %li Ferreiro
    %li Mais minas de pedra e ouro nos mapas
    %li Equilíbrio nos custos dos edifícios