- if building_level == 1
  - link_label = 'Construir'
- else
  - link_label = 'Melhorar'

- if building[:levels][building_level]
  .build-container
    - if @cell.is_water and building[:code] == 2
      .build-icon{class: "#{building[:bridge_css_class]}-1"}
    - else
      .build-icon{class: "#{building[:css_class]}-1"}
    .build-content
      .build-content-line.font-sm
        - if @cell.is_water and building[:code] == 2
          = building[:bridge_name]
        - else
          = building[:name]
      .build-content-line.font-sm
        - if @cell.is_water and building[:code] == 2
          = render 'layouts/recourses_line', {recourses: building[:bridge_levels][building_level]}
        - else
          = render 'layouts/recourses_line', {recourses: building[:levels][building_level]}
      - if @current_user.castle.building_level >= building[:levels][building_level][:castle_level].to_i
        .build-content-line
          = link_to link_label, build_path(@cell.x, @cell.y, building[:code]), class: 'btn-build btn-sm'
      - else
        .build-content-line.font-sm
          = "Requer castelo nível #{building[:levels][building_level][:castle_level]}"
- else
  .build-container
    Totalmente evoluído