- terrain = Terrain.get_terrain(@cell.terrain_code)
- building = Building.get_building(@cell.building_code)



.content-title
  - if building.nil?
    = terrain[:name]
  - else
    = "#{building[:name]} nível #{@cell.building_level} (#{@cell.user.login})" 

%div.text-center{style: 'font-size:12px'}
  = "(X: #{@cell.x} Y: #{@cell.y}"

/ SE NÃO TEM CONSTRUÇÃO E POSSUI ESTRADA
- if building.nil? and @cell.have_user_road @current_user.id
  - terrain[:buildings].each do |b|
    = render 'building_up', { building: Building.get_building(b), building_level: 1}

  - if @cell.is_tree
    .build-container
      .build-icon.icon-x
      .build-content
        .build-content-line.font-sm Remover Árvore
        .build-content-line.font-sm
          %span.recourse-up-icon.icon-timer
          %span.recourse-up-label= TO_GRASS[:tree][:time]
        .build-content-line
          = link_to 'Remover', to_grass_path(@cell.x, @cell.y), class: 'btn-build btn-sm'
  - if @cell.is_stone
    .build-container
      .build-icon.icon-x
      .build-content
        .build-content-line.font-sm Remover Pedra
        .build-content-line.font-sm
          %span.recourse-up-icon.icon-timer
          %span.recourse-up-label= TO_GRASS[:stone][:time]
        .build-content-line
          = link_to 'Remover', to_grass_path(@cell.x, @cell.y), class: 'btn-build btn-sm'

/ SE A CONSTRUÇÃO É DO USUÁRIO
- if @cell.user_id == @current_user.id
  - if @cell.idle

    = render 'buildings/market'     if @cell.is_market
    = render 'buildings/blacksmith' if @cell.is_blacksmith
    = render 'buildings/castle'     if @cell.is_castle
    = render 'buildings/house'      if @cell.is_house
    = render 'buildings/storage'    if @cell.is_storage      

    %hr

    / EVOLUIR EDIFICIO
    = render 'building_up', { building: Building.get_building(@cell.building_code), building_level: @cell.building_level+1 }

    / DESTRUIR EDIFICIO
    = render 'building_destroy'
    
  - else
    / SE EDIFICIO OCUPADO
    = 'construindo...'

:javascript
  refresh_label_timers();

  $('.btn-build').click(function() {
    $(this).hide();
  });
