- terrain = Terrain.get_terrain(@cell.terrain_code)
- building = Building.get_building(@cell.building_code)

/ TITULO
.content-title
  - if building.nil?
    = terrain[:name]
  - elsif @cell.is_bridge
    = "#{building[:bridge_name]} nível #{@cell.building_level} (#{@cell.user.login})"
  - else
    = "#{building[:name]} nível #{@cell.building_level} (#{@cell.user.login})"

%div.text-center{style: 'font-size:12px'}
  = "(X: #{@cell.x} Y: #{@cell.y})"

/ SE TEM CONSTRUÇÃO DO USUÁRIO PODE CONSTRUIR PONTE
- if building.nil? and @cell.can_build_wall
  - t_building = Building.get_building(15)
  = render 'building_up', { building: t_building, building_level: 1}
  / SE NÃO TEM CONSTRUÇÃO E POSSUI ESTRADA
- elsif building.nil? and @cell.have_user_road @current_user.id
  - terrain[:buildings].each do |b|
    - t_building = Building.get_building(b)
    - unless t_building[:unique] and @current_user.have_building(t_building[:code])
      = render 'building_up', { building: t_building, building_level: 1}

  = render 'world/terrains/tree'  if @cell.is_tree
  = render 'world/terrains/stone' if @cell.is_stone
- elsif building.nil? and @cell.have_user_bridge @current_user.id and @cell.is_grass
  - t_building = Building.get_building(2)
  = render 'building_up', { building: t_building, building_level: 1}


/ SE A CONSTRUÇÃO É DO USUÁRIO
- if @cell.user_id == @current_user.id

  - if @cell.idle

    / EVOLUIR EDIFICIO
    = render 'building_up', { building: Building.get_building(@cell.building_code), building_level: @cell.building_level+1 }

    = render 'world/buildings/market'     if @cell.is_market
    = render 'world/buildings/blacksmith' if @cell.is_blacksmith
    = render 'world/buildings/castle'     if @cell.is_castle
    = render 'world/buildings/house'      if @cell.is_house
    = render 'world/buildings/storage'    if @cell.is_storage
    = render 'world/buildings/road'       if @cell.is_road

    / DESTRUIR EDIFICIO
    = render 'building_destroy'

  - else
    / SE EDIFICIO OCUPADO
    = 'construindo...'

  / UNIDADES
  = render 'world/buildings/units', {building: building}

:javascript
  refresh_label_timers();

  $('.btn-build').click(function() {
    $(this).hide();
  });
