- terrain = Terrain.get_terrain(@cell.terrain_code)
- building = Building.get_building(@cell.building_code)



.content-title
  - if building.nil?
    = terrain[:name]
  - else
    = building[:name]
    = " nível #{@cell.building_level}"
    = '('+@cell.user.login+')'

%div.text-center{style: 'font-size:12px'}
  = '(X: '+@cell.x.to_s+' X: '+@cell.y.to_s+')'

/ SE NÃO TEM CONSTRUÇÃO E POSSUI ESTRADA
- if building.nil? and @cell.have_user_road @current_user.id
  - terrain[:buildings].each do |b|
    = render 'building_up', { building: Building.get_building(b), building_level: 1}

  - if @cell.is_tree
    .build-container
      .build-icon.icon-x
      .build-title
        = link_to 'Remover Árvore', to_grass_path(@cell.x, @cell.y), class: 'btn-build'
      .build-recourses
        .recourse-up-icon.icon-timer
        .recourse-up-label.label-timer= TO_GRASS[:tree][:time]
  - if @cell.is_stone
    .build-container
      .build-icon.icon-x
      .build-title
        = link_to 'Remover Pedra', to_grass_path(@cell.x, @cell.y), class: 'btn-build'
      .build-recourses
        .recourse-up-icon.icon-timer
        .recourse-up-label.label-timer= TO_GRASS[:stone][:time]

/ SE A CONSTRUÇÃO É DO USUÁRIO
- if @cell.user_id == @current_user.id
  - if @cell.idle

    / SE MERCADO
    - if @cell.building_code == BUILDING[:market][:code]
      %hr
      %div
        = link_to 'Para o Mercado', market_path(@cell.x, @cell.y), class: 'btn-lg'

    / SE CASTELO
    - if @cell.building_code == BUILDING[:castle][:code]
      %div
        Estradas utilizadas:
        = @user_data.total_roads
      %div
        Limite de estradas:
        = @user_data.max_roads
      - if BUILDING[:castle][:levels][@cell.building_level+1]
        %div
          Próximo nível:
          = (@user_data.max_roads+BUILDING[:castle][:levels][@cell.building_level+1][:roads]).to_s

      %hr
      %div
        .build-container
          .build-icon{class: 'sprite-vil-1'}
          .build-title
            = 'Aldeão'
            = link_to 'Comprar Aldeão', new_villager_path, class: 'btn-build'
          .build-recourses
            .recourse-up-icon.icon-food
            .recourse-up-label= 100

    / SE CASA
    - if @cell.building_code == BUILDING[:house][:code]
      %div
        Capacidade de suas casas:
        = @user_data.max_villagers.to_s

    / SE ARMAZEM
    - if @cell.building_code == BUILDING[:storage][:code]
      %div
        Cada nível aumenta 1000 no limite de recursos.
      %div
        Capacidade atual:
        = @user_data.storage.to_s

    %hr

    / EVOLUIR EDIFICIO
    = render 'building_up', { building: Building.get_building(@cell.building_code), building_level: @cell.building_level+1 }

    / DESTRUIR EDIFICIO
    - unless @cell.is_castle or @cell.is_road
      .build-container
        .build-icon.icon-x
        .build-title
          = link_to 'Destruir Edifício', building_destroy_path(@cell.x, @cell.y), class: 'btn-build'
        .build-recourses
          .recourse-up-icon.icon-timer
          .recourse-up-label.label-timer= 300
  - else
    / SE EDIFICIO OCUPADO
    = 'construindo...'

:javascript
  refresh_label_timers();

  $('.btn-build').click(function() {
    $(this).hide();
  });
