- terrain = Terrain.get_terrain(@cell.terrain_code)
- building = Building.get_building(@cell.building_code)


.content-title
  - if building.nil?
    = terrain[:name]
  - else
    = "#{building[:name]} nível #{@cell.building_level} (#{@cell.user.login})" 

%div.text-center{style: 'font-size:12px'}
  = "(X: #{@cell.x} Y: #{@cell.y})"

/ SE NÃO TEM CONSTRUÇÃO E POSSUI ESTRADA
- if building.nil? and @cell.have_user_road @current_user.id
  - terrain[:buildings].each do |b|
    = render 'building_up', { building: Building.get_building(b), building_level: 1}

  = render 'world/terrains/tree'  if @cell.is_tree
  = render 'world/terrains/stone' if @cell.is_stone


/ SE A CONSTRUÇÃO É DO USUÁRIO
- if @cell.user_id == @current_user.id

  - if @cell.idle

    / EVOLUIR EDIFICIO
    = render 'building_up', { building: Building.get_building(@cell.building_code), building_level: @cell.building_level+1 }

    = render 'world/buildings/market'     if @cell.is_market
    = render 'world/buildings/blacksmith' if @cell.is_blacksmith
    = render 'world/buildings/castle'     if @cell.is_castle
    = render 'world/buildings/house'      if @cell.is_house
    = render 'world/buildings/storage'    if @cell.is_storage

    / DESTRUIR EDIFICIO
    = render 'building_destroy'

  - else
    / SE EDIFICIO OCUPADO
    = 'construindo...'

  - if building[:units].is_a? Array and building[:units].size > 0
    %hr
    %div
      Em treino:
      %table
        - EventNewUnit.includes(:event).where('cell_id = ?', @cell.id).each do |u|
          - unit = Unit.get_unit(u.unit)
          %tr
            %td= unit[:name]
            %td.chronometer{data_time: u.event.wait_time}= u.event.wait_time
    %hr
    - building[:units].each do |u|
      - unit = Unit.get_unit(u)
      %div
      .build-container
        .build-icon{class: unit[:css_class]}
        .build-content
          .build-content-line.font-sm
            = unit[:name]
          .build-content-line.font-sm
            = render 'layouts/recourses_line', {recourses: unit[:pricing]}
          .build-content-line
            = link_to "Comprar #{unit[:name]}", new_unit_path(unit[:code], @cell.id, 1), class: 'btn-build btn-sm'

:javascript
  refresh_label_timers();

  $('.btn-build').click(function() {
    $(this).hide();
  });
