- terrain = Terrain.get_terrain(@cell.terrain_code)
- building = Building.get_building(@cell.building_code)

.content-title
  - if building.nil?
    = terrain[:name]
  - else
    = building[:name]
    = " nível #{@cell.building_level}"
    = '('+@cell.user.login+')'

= 'x: '+@cell.x.to_s+' y: '+@cell.y.to_s


- if building.nil? and @cell.have_user_road @current_user.id
  - terrain[:buildings].each do |b|
    = render 'building_up', { building: Building.get_building(b), building_level: 1}

- if @cell.user_id == @current_user.id
  - if @cell.idle

    - if @cell.building_code == BUILDING[:castle][:code]
      %div
        Estradas utilizadas:
        = @user_data.total_roads
      %div
        Limite de estradas:
        = @user_data.max_roads
      %div
        Próximo nível:
        = (@user_data.max_roads+BUILDING[:castle][:levels][@cell.building_level+1][:roads]).to_s

      %hr
      %div
        .build-container
          .build-icon{class: 'sprite-vil-1'}
          .build-title
            = 'Aldeão'
            = link_to 'Comprar Aldeão', new_villager_path, class: 'btn-build'
          .build-recourses
            = image_tag 'sprites/icons/food.png', width: 12
            = 100

    - if @cell.building_code == BUILDING[:house][:code]
      %div
        Cada nível aumenta 1 no limite de aldeões.
      %div
        Limite de aldeõs:
        = @user_data.max_villagers.to_s

    - if @cell.building_code == BUILDING[:storage][:code]
      %div
        Cada nível aumenta 1000 no limite de recursos.
      %div
        Capacidade atual:
        = @user_data.storage.to_s

    %hr
    = render 'building_up', { building: Building.get_building(@cell.building_code), building_level: @cell.building_level+1 }
  - else
    = 'construindo...'

:javascript
  refresh_label_timers();

  $('.btn-build').click(function() {
    $(this).hide();
  });
