- terrain = Terrain.get_terrain(@cell.terrain_code)
- building = Building.get_building(@cell.building_code)

.content-title
  - if building.nil?
    = terrain[:name]
  - else
    = building[:name]
    = " nível #{@cell.building_level}"
    = '('+@cell.user.login+')'

= 'x: '+@cell.x.to_s+' y: '+@cell.y.to_s


- if building.nil? and @cell.have_user_road @current_user.id
  - terrain[:buildings].each do |b|
    - building = Building.get_building(b)

    .build-container
      .build-icon{class: "#{building[:css_class]}-1"}
      .build-title
        = building[:name]
        = link_to 'Construir ', build_path(@cell.x, @cell.y, building[:code])
      .build-recourses
        - if building[:levels][1][:wood] and building[:levels][1][:wood].to_i > 0
          = image_tag 'sprites/icons/wood.png', width: 12
          = building[:levels][1][:wood]
        - if building[:levels][1][:stone] and building[:levels][1][:stone].to_i > 0
          = image_tag 'sprites/icons/stone.png', width: 12
          = building[:levels][1][:stone]
        - if building[:levels][1][:gold] and building[:levels][1][:gold].to_i > 0
          = image_tag 'sprites/icons/gold.png', width: 12
          = building[:levels][1][:gold]
        - if building[:levels][1][:food] and building[:levels][1][:food].to_i > 0
          = image_tag 'sprites/icons/food.png', width: 12
          = building[:levels][1][:food]
        %label.label-timer
          = building[:levels][1][:time]

:javascript
  refresh_label_timers();