#game-content-left
  /.content-title Navegar Pelo Mapa
  = #render 'world/world_navigation'

  .content-selected-sprite{style: 'display:none;'}
  .content-selected-unit{style: 'display:none;'}


#world_zoom_container.sprite-searching
  #cell-container
    = Cell.render_layers @cells, @current_user


:javascript
  var x = #{params[:x]};
  var y = #{params[:y]};
  var preselect_cell = #{@preselect_cell};