.side-menu

  .side-menu-item= link_to 'Voltar ao mapa', world_zoom_c_path(@x, @y)
  .side-menu-item.side-menu-item-selected= link_to 'Ofertas dos Jogadores', '#'
  .side-menu-item= link_to 'Movimentações', '#'
  .side-menu-item= link_to 'Criar Oferta', '#'
  .side-menu-item= link_to 'Minhas Ofertas', '#'
