#game-content-left
  .content-title Mercado
  = render 'menu'

#game-content-right
  %h4 Recursos Chegando
  %table.table
    %thead
      %tr
        %th Jogador
        %th Tempo de Chegada
        %th Recurso
    %tbody
      - @offers.each do |offer|
        - if offer.user_id == @current_user.id
          %tr
            %td.text-center= offer.return_user.login
            %td.text-center
              .chronometer{data_time: offer.wait_time}
            %td
              %span.icon-no-repeat.icon-small{class: "icon-#{offer.return_recourse}"}
              = offer.return_amount
        - else
          %tr
            %td.text-center= offer.user.login
            %td.text-center
              .chronometer{data_time: offer.wait_time}
            %td
              %span.icon-no-repeat.icon-small{class: "icon-#{offer.offer_recourse}"}
              = offer.offer_amount

