

#game-content-left
  = render 'menu'

#game-content-right
  %table.table
    %thead
      %tr
        %th Pos.
        %th Jogador
        %th{style: 'width: 20px;'}
        %th Pontos
    %tbody
      - @users.each_with_index do |u, i|
        %tr
          %td= (i+1).to_s
          %td= link_to(u.login, user_profile_path(u.login))
          %td.hover-pointer{style: "background-color: #{u.color}", onclick: "Turbolinks.visit('#{u.castle_path}')"}
            %div.icon-my-castle.icon-no-repeat{style: 'width: 20px; height: 20px;'}
          %td= u.user_data.score