
#game-content-left
  = render 'menu'
#game-content-right
  %table.table.table-hover
    %thead
      %tr
        %th Descrição
        %th Data
    %tbody
      - @reports.each do |r|
        %tr{onclick: "Turbolinks.visit('/report_detail/#{r.id}')"}
          - if r.report_type == 'user_recourses_arrived'
            %td= "Chegaram recursos de #{r.user_2.login}"
          - if r.report_type == 'user_accept_offer'
            %td= "#{r.user_2.login} aceitou sua oferta"
          %td= r.created_at.strftime("%d/%m %I:%M:%S")
