- if building[:units].is_a? Array and building[:units].size > 0
  %hr
  %div
    Em treino:
    %table
      - EventNewUnit.includes(:event).where('cell_id = ?', @cell.id).each do |u|
        - unit = Unit.get_unit(u.unit)
        %tr
          %td= unit[:name]
          %td.chronometer{data_time: u.event.wait_time}= u.event.wait_time
  %hr
  - building[:units].each do |u|
    - unit = Unit.get_unit(u)
    %div
    .build-container
      .build-icon{class: unit[:css_class]}
      .build-content
        .build-content-line.font-sm
          = unit[:name]
        .build-content-line.font-sm
          = render 'layouts/recourses_line', {recourses: unit[:pricing]}
        .build-content-line
          = link_to "Treinar #{unit[:name]}", new_unit_path(unit[:code], @cell.id, 1), class: 'btn-build btn-sm'