- case recourse
  - when :wood
    - title = 'Wood'
    - sprite = '/icons/wood.png'
  - when :gold
    - title = 'Gold'
    - sprite = '/icons/gold.png'
  - when :food
    - title = 'Food'
    - sprite = '/icons/food.png'
  - when :stone
    - title = 'Stone'
    - sprite = '/icons/stone.png'
  - when :villager
    - title = 'Villager'
    - sprite = '/world/villagers/vil_1.png'
  -else
    - title = 'fuck'


.recourse-container.navbar-item
  .recourse-icon
    = image_tag "sprites#{sprite}", width: 20
  .recourse-label
    = amount.to_s.gsub(/(\d)(?=(\d\d\d)+(?!\d))/, "\\1 ")
    /
      - if defined? villagers
        = "(#{villagers})"
  .recourse-progress-bar
    - width = amount.to_f/max.to_f*100
    - width = 100 if width>100
    .recourse-progress-bar-completed{style: "width: #{width.to_s}%"}