- if @current_user
  .navbar-item.navbar-links
    = link_to(world_path) do
      .navbar-item.world-button
    = link_to("/world_zoom/#{@current_user.castle_x}/#{@current_user.castle_y}") do
      .navbar-item.my-castle-button
    = link_to("/ranking") do
      .navbar-item.my-castle-button
    = link_to("/profile") do
      .navbar-item.my-castle-button



- if @current_user
  = render 'layouts/navbar_recourse', { amount: @user_data.wood, recourse: :wood, max: @user_data.storage }
  = render 'layouts/navbar_recourse', { amount: @user_data.stone, recourse: :stone, max: @user_data.storage }
  = render 'layouts/navbar_recourse', { amount: @user_data.gold, recourse: :gold, max: @user_data.storage }
  = render 'layouts/navbar_recourse', { amount: @user_data.food, recourse: :food, max: @user_data.storage }


  .navbar-item{style: 'font-size: 12px'}
    Total de Aldeões:
    = @user_data[:total_villagers]
    %br
    Aldeões Parados:
    = @user_data[:idle_villagers]

  .navbar-item{style: 'float:right'}

    = @current_user.login
    = link_to('X', '/logout')