- if @current_user
  = link_to(world_path) do
    .navbar-item.world-button


- if @current_user
  = render 'layouts/navbar_recourse', { amount: @user_data.wood, recourse: :wood, max: @user_data.storage }
  = render 'layouts/navbar_recourse', { amount: @user_data.gold, recourse: :stone, max: @user_data.storage }
  = render 'layouts/navbar_recourse', { amount: @user_data.gold, recourse: :gold, max: @user_data.storage }
  = render 'layouts/navbar_recourse', { amount: @user_data.gold, recourse: :diamond, max: @user_data.storage }


  .navbar-item{style: 'float:right'}

    = @current_user.login
    = link_to('X', '/logout')




