!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=800, user-scalable=no", :name => "viewport"}/
    %title RTS WEB
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta{name: 'turbolinks-cache-control', content: 'no-cache'}
  %body
    = render 'layouts/flash'
    #game-container
      #game-header
        = render 'layouts/navbar'
      #game-content
        = yield
      #game-footer