!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RTS WEB
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/flash'
    #game-container
      #game-header
        = render 'layouts/navbar'
      #game-content
        = yield

      #game-footer